#index {
  color: #d3d6dd;
  width: 4900px;
  height: 1620px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  overflow: hidden;
  
  .bg {
    width: 100%;
    height: 100%;
    padding: 16px 16px 0 16px;
    background-image: url("./img/pageBg.png");
    background-size: cover;
    background-position: center center;
  }

  .body-box {
    margin-top: 130px;
    display: flex;
    flex-direction: column;

    .main-box {
      display: grid;
      grid-template-columns: 0.75fr 1.1fr 1fr;
      padding-left: 70px;
      padding-right: 40px;
    }

    .flow-box {
      margin-top: 10px;
      padding-left: 70px;
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      .flow-box__title {
        display: flex;
        align-items: center;
        .flow-box__subtitle {
          margin-left: 40px;
          display: flex;
          div {
            margin-left: 30px;
            img {
              vertical-align: middle;
              margin-right: 10px;
            }
            span {
              font-size: 16px;
              line-height: 1;
            }
          }
        }
      }
    }

    .bottom-box {
      padding-left: 40px;
      padding-right: 20px;
    }
  }
}
